<div class="card">
  <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
  <img class="imageClass" [src]="myPhoto" alt="Harikrishna" style="width:100%"/>
  <h1>Harikrishna K</h1>
  <p class="title">Hobbyist Developer</p>
  <p></p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="linkedin.com/in/harikrishna-k-59794aa2"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button>Contact</button></p>
</div>